html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
header{
    background-color: #00296b;
    color: white;
    font-family: poppins;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    align-items: center;
}
body{
    position: relative; 
    min-height: 100vh;
    margin: 0px;
    font-family: poppins;
    color: #FFFAFF;
    background-color: #FFFAFF;
}
#img-1{
    background-image: url(../img/mulhersorrindo.jpg);
}

#img-2{
    background-image: url(../img/manutencao.jpg);
}

#img-3{
    background-image: url(../img/servico.jpg);
}
#splash{
    width: 120px;
    height: auto;
    margin-top: 5%;
}
#overlay-home{
    position: absolute;
    top: 0;
    left: 0;
    height: 1262.56px; 
    width: 1903px;
    background: linear-gradient(to right, #003f88, transparent);
}
#product-class{
    position: relative;
    display: inline-block;
}
.overlay-text{
    margin-left: 12%;
    margin-top: 10%;
}
button{
    font-family: poppins;
    font-size: 15px;
    width: 15%;
    height: 5%;
    border: 2px solid white;
    border-radius: 30px;
    background-color: #00296b;
    color: white;
    margin: 1%;
    margin-left: 12%;
}
button:hover{
    background-color: white;
    color: #00296b;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
button:not(:hover){
    background-color: #00296b;
    color: white;
    transition: all 0.2s ease-in;
}
button:active{
    transform: scale(0.9);
}
nav a{
    text-decoration: none;
    border-right: 2px solid white;
    padding: 0 15px;
}
nav a:last-child{
    border-right: none;
}
.text-nav{
    display: inline;
    color: white;
    font-family: poppins;
    font-size: 15px;
}
.text-nav:hover{
    color: #3ba0ff;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.text-nav:not(:hover){
    color: white;
    transition: all 0.2s ease-in;
}